       html {
            padding: 20px;
            font-family: Georgia, Verdana, serif;}
        .title {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-AF-zhMZBoynFr_-_4tD3I_b3T3EC9hWJC8yNwkWssMZbHZm45g');
            padding:10px;
        }
        header {
            text-align: center;
            
        }
        h2{
            font-size:14px;
            line-height:14px;
        }
        
    
        .content h1{
             font-size:22px;
             text-align:center;
             color: green;
             border-bottom:double green;
             height:90px;
        }
        .content{
            color:grey;
    
        }
        .inside1 {
            width:32.1%;
            height:315px;
            float:left;
            margin-left;
            border:double green;
        }
         .inside2 {
  
            width:32.1%;
            float:left;
            height:315px;
            overflow:scroll;
            border:double green;
        }
           .inside3 {
            width:32.1%;
            height:315px;
            border:double green;
             overflow:scroll;
            float:left;
        }
        
        footer{
            clear:both;
            color:gray;
            font-size:10px;
            text-align:center;
            margin-top:400px;
        }
        